*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url('/src/img/background.jpg');
    backdrop-filter: brightness(0.5);

}

.container-top{
    display: flex;
    height: 80px;
    width: 100%;
}

#container-img{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
    width: 350px;
}

.menu-sign{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    margin: 0 66px 0 0;
    gap: 35px;
}

.botaoEntrar{
    width: 80px;
    height: 35px;
    outline: none;
    color: white;
    border: solid #e50914;
    background: #e50914;
    border-radius: 5px;
    
}

.select-idioma{
    width: 100px;
    height: 35px;
    background: transparent;
    color: white;
    border-radius: 5px;
}

.section-center{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.form-box{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
    gap: 20px;
}

h1{
    font-size: 40px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    max-width: 640px;
    text-align: center;
}

h2{
    font-size: 30px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    font-weight: 100;
    max-width: 640px;
    text-align: center;
}

h3{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    color: gray;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

video{
    margin-left: 25px;
    width: 400px;
    position: absolute;
    z-index: 1;
}
span{
    color: white;
}
p{
    color: rgb(21, 8, 214);
}

form{
    display: flex;
}

#logo{
    width: 190px;
    height: 120px;
}

#tela-background{
    position: relative;
    top: 20px;
    margin-top: 10px;
    width: 500px;
    z-index: 999;

}
#input_field{
    width: 500px;
    height: 60px;
    padding-left: 10px;
    font-size: 15px;
    outline: none;
}

#submit_form{
    width: 235px;
    height: 60px;
    outline: none;
    color: white;
    border: solid #e50914;
    background: #e50914;
    border-radius: 2px;
    margin-left: -5px;
    font-size: 25px;
    cursor: pointer;
}
#submit_form:hover{
    background-image: linear-gradient(180deg,#e50914,#f30a16);
}

#thumbnail-story{
    width: 75px;
    padding: 10px;
}

#download-gif{
    width: 30px;
    border-radius: 50%;
}

#placeholder{
    position: absolute;
    top: 535px;
    left: 320px;
    color: gray;
}


.sub-history{
    width: -webkit-fill-available;
    padding: 5px;
}

.section-info{
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: row;
    background-color: black;
    gap: 10px;
    border-width: 8px;
    border-style: solid;
    border-color: rgb(49, 49, 49);
    border-left: 0;
    border-right: 0;  
    border-bottom: 0;
}

.content-left{
    padding: 70px 45px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;

}

.content-right{
    padding: 70px 45px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
}

.card-story{
    position: relative;
    bottom: 140px;
    display: flex;
    align-items: center;
    width: 300px;
    height: 100px;
    background-color: black;
    border: solid 2px gray;
    border-radius: 10px;
    z-index: 999;
}

.area-gif{
    position: relative;
    left: -20px;
}

footer{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 400px;
    background-color: black;
    border-width: 8px;
    border-style: solid;
    border-color: rgb(49, 49, 49);
    border-left: 0;
    border-right: 0;  
    border-bottom: 0;
    gap: 10px;
    padding: 100px;
}

.box-footer{
   display: flex;
   align-items: flex-start;
   justify-content: space-around;
   width: 100%;
   margin-right: 150px;
   margin-left: 150px;
   line-height: 40px;

}

#question-tel{
    color: gray;

}

#link-fone{
    font-style: unset;
}

.content-footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.container-tel{
    width: 100%;
    height: 50px;
    padding-left: 72px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

@media screen and (min-width: 720px){
    body{
        width: 100%;
    }

    .container-top {
        width: 100%;
    }

    #container-img{
        width: 100%;
    }
    
    .menu-sign{
        width: 100%;
    }
    
    .botaoEntrar{
        width: 80px;
        height: 35px;
        outline: none;
        color: white;
        border: solid #e50914;
        background: #e50914;
        border-radius: 5px;
        
    }
    
    .select-idioma{
        width: 100px;
        height: 35px;
        background: transparent;
        color: white;
        border-radius: 5px;
    }
    
    .section-center{
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    
    .form-box{
        width: 100%;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 10px;
        gap: 20px;
    }
    
    h1{
        font-size: 40px;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 800;
        max-width: 640px;
        text-align: center;
    }
    
    h2{
        font-size: 30px;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        text-align: left;
        font-weight: 100;
        max-width: 640px;
        text-align: center;
    }
    
    h3{
        color: white;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    a{
        color: gray;
        text-decoration: none;
    }
    
    a:hover{
        text-decoration: underline;
    }
    
    video{
        margin-left: 25px;
        width: 400px;
        position: absolute;
        z-index: 1;
    }
    span{
        color: white;
    }
    p{
        color: rgb(21, 8, 214);
    }
    
    form{
        display: flex;
    }
    
    #logo{
        width: 190px;
        height: 120px;
    }
    
    #tela-background{
        position: relative;
        top: 20px;
        margin-top: 10px;
        width: 500px;
        z-index: 999;
    
    }
    #input_field{
        width: 500px;
        height: 60px;
        padding-left: 10px;
        font-size: 15px;
        outline: none;
    }
    
    #submit_form{
        width: 235px;
        height: 60px;
        outline: none;
        color: white;
        border: solid #e50914;
        background: #e50914;
        border-radius: 2px;
        margin-left: -5px;
        font-size: 25px;
        cursor: pointer;
    }
    #submit_form:hover{
        background-image: linear-gradient(180deg,#e50914,#f30a16);
    }
    
    #thumbnail-story{
        width: 75px;
        padding: 10px;
    }
    
    #download-gif{
        width: 30px;
        border-radius: 50%;
    }
    
    #placeholder{
        position: absolute;
        top: 535px;
        left: 320px;
        color: gray;
    }
    
    
    .sub-history{
        width: -webkit-fill-available;
        padding: 5px;
    }
    
    .section-info{
        width: 100%;
        height: 500px;
        display: flex;
        flex-direction: row;
        background-color: black;
        gap: 10px;
        border-width: 8px;
        border-style: solid;
        border-color: rgb(49, 49, 49);
        border-left: 0;
        border-right: 0;  
        border-bottom: 0;
    }
    
    .content-left{
        padding: 70px 45px;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 20px;
    
    }
    
    .content-right{
        padding: 70px 45px;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 5px;
    }
    
    .card-story{
        position: relative;
        bottom: 140px;
        display: flex;
        align-items: center;
        width: 300px;
        height: 100px;
        background-color: black;
        border: solid 2px gray;
        border-radius: 10px;
        z-index: 999;
    }
    
    .area-gif{
        position: relative;
        left: -20px;
    }
    
    footer{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 400px;
        background-color: black;
        border-width: 8px;
        border-style: solid;
        border-color: rgb(49, 49, 49);
        border-left: 0;
        border-right: 0;  
        border-bottom: 0;
        gap: 10px;
        padding: 100px;
    }
    
    .box-footer{
       display: flex;
       align-items: flex-start;
       justify-content: space-around;
       width: 100%;
       margin-right: 150px;
       margin-left: 150px;
       line-height: 40px;
    
    }
    
    #question-tel{
        color: gray;
    
    }
    
    #link-fone{
        font-style: unset;
    }
    
    .content-footer{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    
    .container-tel{
        width: 100%;
        height: 50px;
        padding-left: 72px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
}